html {
	font-family: sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

label,
input,
select,
textarea,
button {
	font: inherit;
}

button {
	/*set the default value explicitely*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	display: block;
}

button:not(:disabled) {
	cursor: pointer;
}

input[type="url"],
input:not([type]),
textarea,
select {
	width: 100%;
}

.titlebar {
	font-weight: bold;
	text-align: center;
	height: 2em;
	line-height: 2em;
	padding: 0.5em 2em 0.25em;
	border-bottom: groove black 0.25em;
	cursor: pointer;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M2,4 L18,4 M2,12 L18,12 M2,20 L18,20" stroke="black" stroke-width="4" stroke-linecap="round" /></svg>') right center no-repeat;
}

.titlebar.settings-shown {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M2,4 L18,20 M2,20 L18,4" stroke="black" stroke-width="4" stroke-linecap="round" /></svg>');
}

.titlebar img {
	margin-top: 6px;
	margin-left: -24px;
	float: left;
	border-radius: 4px;
}

.titlebar div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content {
	height: calc(100% - 3em);
	position: relative;
}

.tabs {
	height: 100%;
}

.tabs iframe {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	background-color: #fff;
	overflow: auto;
}

.settings {
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 100%;
	left: 0;
	right: 0;
	padding: 0 0.75em;
	overflow: hidden;
	transition: bottom 0.3s;
}

.settings.visible {
	overflow: auto;
	bottom: 0;
}

.with-subtitle {
	margin-bottom: 0;
}

.with-subtitle ~ p {
	margin-top: 0.2em;
}

.url-list {
	margin: 0.5em 0;
	padding: 0;
}

.url-list li {
	display: block;
	border: solid thin;
	border-radius: 0.25em;
	margin: 0.25em 0;
	padding: 0.25em;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.url-list li.current {
	border-width: medium;
}

.url-list li img {
	vertical-align: bottom;
	border-radius: 4px;
}

.url-list li .title {
	font-weight: bold;
}

.url-list li .url {
	font-size: 90%;
}

.url-list li button {
	padding: 0.3em 0.75em;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
	border-radius: 0;
	background: #008;
	color: #fff;
	font-weight: bold;
}

.url-list li button[data-action="remove"] {
	background: #800;
}

.url-list li:first-child button[data-action="default"] {
	display: none;
}

.history-buttons p {
	background-color: #000;
	margin: 0 -0.75em;
	padding: 0;
	line-height: 0;
}

.history-buttons button {
	background: none;
	color: #fff;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 2px;
	width: 44px;
	height: 44px;
}

.history-buttons button:disabled {
	color: #aaa;
}

.history-buttons button.bookmark-remove {
	color: #ff0;
}

.history-buttons button svg {
	stroke: currentcolor;
	fill: none;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.bookmark-edit,
.offline-edit {
	border: solid thin;
	padding: 0 0.5em;
	margin: -1px -0.5em 0;
}

.offline-edit button {
	margin: 0.2em;
}

input.url-input {
	font: inherit;
	width: calc(100% - 2em);
	height: 2em;
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	padding: 0.25em;
	border: solid #000 0.2em;
	border-right: none;
	border-radius: 0.5em 0 0 0.5em;
}

.url-input ~ button {
	font: inherit;
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	border: solid #000 0.2em;
	border-left: none;
	border-radius: 0 0.5em 0.5em 0;
	background: #000;
	color: #fff;
}

.url-input:focus {
	border-color: #00f;
}

.url-input:focus ~ button {
	background: #00f;
	border-color: #00f;
}

.history-list {
	margin-top: 0;
}

.history-list li {
	margin: 0;
	border-radius: 0;
}

.suggestion-buttons {
	margin-bottom: 0;
}

.suggestion-buttons button {
	background: #fff;
	color: #000;
	font-size: 81.25%;
	height: 2em;
	border: solid thin;
	border-bottom-width: 1px;
	padding: 0.3em 0.5em;
	border-radius: 0.25em 0.25em 0 0;
	vertical-align: bottom;
}

.suggestion-buttons button.selected {
	border-bottom-color: #fff;
}

.suggestions-edit {
	float: right;
	margin-bottom: -1em;
}

.suggestion-list {
	margin-top: -1px;
	border-top: solid 1px;
}

.suggestion-list li {
	margin: 0;
	border-top: 0;
	border-radius: 0;
}

.suggestion-list:empty::after {
	display: block;
	content: "no suggestions";
	font-style: italic;
	font-size: 90%;
	border: solid thin;
	border-top: 0;
	padding: 0.25em;
}

.tab-list li {
	padding-right: 3em;
}

.prefs-apply,
.prefs-site-apply {
	display: block;
	width: 100%;
	background: #00f;
	color: #fff;
	text-align: center;
	padding: 0.75em;
	border: 0;
}

.prefs-apply:disabled,
.prefs-site-apply:disabled {
	background: #444;
	color: #ddd;
}

.context-menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #222;
}

.context-menu button {
	background: #555;
	color: #fff;
	border-radius: 0;
	border: 0;
	margin: 0.5em 1em;
	padding: 0.75em;
	width: calc(100% - 2em);
	text-align: left;
	font-style: italic;
}

button.context-menu-cancel {
	position: absolute;
	bottom: 0.75em;
	text-align: center;
	border-radius: 1.5em / 50%;
	background: #eee;
	color: #000;
}

.context-menu-buttons {
	margin: 0;
	margin-bottom: 5em;
	padding: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.context-menu-buttons li {
	display: block;
	margin: 0;
	padding: 0;
}

/*dark mode*/
.dark-mode {
	background: #222;
	color: #fff;
}

.dark-mode .settings {
	background-color: #222;
}

.dark-mode .suggestion-buttons button {
	background-color: #222;
	color: #fff;
}

.dark-mode .suggestion-buttons button.selected {
	border-bottom-color: #222;
}

.dark-mode .titlebar {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M2,4 L18,4 M2,12 L18,12 M2,20 L18,20" stroke="white" stroke-width="4" stroke-linecap="round" /></svg>');
}

.dark-mode .titlebar.settings-shown {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M2,4 L18,20 M2,20 L18,4" stroke="white" stroke-width="4" stroke-linecap="round" /></svg>');
}
